@import "~normalize.css";

body {
  font-family: sans-serif;
  font-size: 20px;
}

.app-error {
  background-color: orangered;
  border: solid 2px indianred;
  padding: 1em;

  p {
    margin: 0;
  }
}

.app-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}

.app-form {
  grid-column: 1;
  grid-row: 1;
}

.app-tree {
  background-color: lightyellow;
  padding: 1em;
  grid-column: 2 / 4;
  grid-row: 1;
}

.node-element {
  & > & {
    margin-left: 0.5em;
    padding-left: 1em;

    summary {
      margin-left: -1em;
    }
  }

  &__control {
    margin-left: 0.5em;
    opacity: 0;
    visibility: hidden;
    transition-property: visibility, opacity;
    transition-duration: 0.1s;

    @at-root summary:hover & {
      opacity: 1;
      visibility: visible;
    }
  }

  &__preformatted {
    background: lightgrey;
    padding: 0.5em;
    font-family: monospace;

    span {
      color: darkgrey;
    }
  }

  &__empty-children {
    margin: 0;
    color: gray;
  }
}
