<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nunjucks template parser</title>
</head>
<body>

<header>
    <h1>Nunjucks AST explorer</h1>
    <p>What is your code looks like for Nunjucks parser</p>
</header>

<main>
    <form action="" method="post" id="explorer">
        <div>
            <label for="app-template-input">Template</label>
            <textarea id="app-template-input" name="template" rows="10"></textarea>
        </div>

        <div>
            <input type="checkbox" name="show_whitespace" id="app-show-whitespace">
            <label for="app-show-whitespace">Display whitespace characters</label>
        </div>
    </form>

    <div id="tree" class="app-tree"></div>
</main>

</body>
</html>
