<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nunjucks templates AST explorer</title>
</head>
<body>

<div class="app">

<header class="app-header">
    <div>
        <h1>Nunjucks AST explorer</h1>
        <p>What is your code looks like for Nunjucks parser</p>
    </div>

    <nav>
        <ul>
            <li><a href="https://github.com/ogonkov/nunjucks-ast-explorer">GitHub</a></li>
            <li><a href="https://mozilla.github.io/nunjucks/">Nunjucks Docs</a></li>
        </ul>
    </nav>
</header>

<aside class="app-aside">
    <form action="" method="post" id="explorer" class="app-form">
        <div class="form-row">
            <label for="app-template-input" class="form-label">Template</label>
            <textarea id="app-template-input" class="form-textarea" name="template" rows="10"></textarea>
        </div>

        <div class="form-row">
            <input type="checkbox" name="show_whitespace" id="app-show-whitespace">
            <label for="app-show-whitespace">Display whitespace characters</label>
        </div>
    </form>
</aside>

<main class="app-main">
    <div id="tree" class="tree"></div>
</main>

</div>

</body>
</html>
